.palestrantes {
    background-color: #EF7246;
    text-align: center;
}
.container-palestrantes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.container-palestrantes > div {
    padding: 5% 3%;
    background-color: white;
    border-radius: 4%;
    line-height: 2;
    width: 80%;
    margin: 1% 1% 1% 1%;
}
.container-palestrantes div > img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.palestrantes h2 {
    color: white;
    padding: 2% 0;
    text-transform: uppercase;
    font-size: 3em;
}
.palestrantes h3{
    color: white;
    font-size: 2em;
}
.cargo-palestrante {
    font-weight: bold;
}
@media (min-width: 600px) {
    .container-palestrantes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 1%;
    }
    .container-palestrantes > div {
        width: 40%;
    }
@media (min-width: 1000px) {
    .container-palestrantes > div {
        padding: 2% 1%;
        width: 20%;
    }
}